<div>
    <header></header>
    
    <app-menu></app-menu>
    
    <app-page-title [pageTitle]="pageTitle" >
    </app-page-title>

    <main>
        <form>
            <table class="table table-striped table-sm" *ngIf="activity">
                <tbody>
                    <tr>
                        <td>Id:</td>
                        <td><input [ngModel]="activity.id" name="id" readonly ></td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>
                            <select [(ngModel)]="activity.activityTypeId" name="activityTypeId" >
                                <option *ngFor="let actt of activityTypes" value="{{ actt.id }}">{{ actt.id }}:{{ actt.type }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td><input [(ngModel)]="activity.date" type="date" name="date" [readonly]="readonly"></td>
                    </tr>
                    <tr>
                        <td>Notes:</td>
                        <td>
                            <textarea [(ngModel)]="activity.notes" name="notes" [readonly]="readonly"
                                        rows="1" cols="40">
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Active:</td>
                        <td><input [(ngModel)]="activity.active" type="checkbox" name="active" [readonly]="readonly"></td>
                    </tr>
                    <tr *ngIf="!readonly && userIsAdmin">
                        <td colspan="2">
                            <button (click)="save()" class="btn btn-primary">Save</button>
                        </td>
                    </tr>
                    <tr *ngIf="readonly && userIsAdmin">
                        <td colspan="2">
                            <a routerLink="/activitytype/change/{{ activity.id }}" class="btn btn-warning">Edit</a>
                            <span> | </span>
                            <a (click)="toggleVerifyDelete()" class="btn btn-danger">Delete</a>
                            <span *ngIf="verifyDelete">
                                <span> | </span>
                                <a (click)="remove()" class="btn btn-danger">VerifyDelete</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </main>

    <footer>
        <span>Career Management System (CMS)</span>
    </footer>
</div>
