.date {
    width: 80px;
}
.type {
    width: 250px;
}
.sep {
    border-top: 2px solid black;
}
thead td {
    font-size: 0.9em;
    font-style: italic;
    text-decoration: underline;
}
thead td, tbody td {
    padding: 2px 4px;
}